/* FONTS */
@font-face {
    font-family: "cochocib script";
    src: url("fonts/cochocib latin/cochocib-script-latin-pro-regular.ttf");
}
@font-face {
    font-family: "arington";
    src: url(fonts/arington/Arington_Demo.ttf);
}
@font-face {
    font-family: "nyala";
    src: url(fonts/nyala/nyala.ttf);
}
@font-face {
    font-family: "autumn in november";
    src: url(fonts/autumn-in-november/Autumn\ in\ November.ttf);
}
@font-face {
    font-family: "riesling";
    src: url(fonts/riesling/riesling.ttf);
}
@font-face {
    font-family: "valentines day";
    src: url("fonts/valentines day/Valentines Day.otf");
}
/* BODY 1 */
body {
    background-color: #fae8eb;
}

/* NAVIGATION BAR */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: pink;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* MAIN */
#main {
    transition: margin-left .5s;
    padding: 10, 12px;
    display: flex;
    color: #fff;
}

#main span {
    font-size: 30px;
    cursor: pointer;
    color: #FF5F8D; /* Set the color of the menu icon */
    float: left;
}

#main h2 {
    font-family: "valentines day";
    font-size: 150px;
    flex: 1; /* Take remaining space */
    text-align: center; /* Center the text within the available space */
    color: #FF5F8D; /* Set the color of the title */
    text-decoration: underline overline double 2px;/* Add an underline and overline to the title */
    text-decoration-skip-ink: none; /* Ensure that the underline and overline do not cut through the text */
    text-underline-offset: 0.05em;
    
}


/* #logo {
    width: 100px;
    height: 100px;
    margin: 0px 0px 0px 0px;
} */

/* BODY TEXT */
body {
    font-family: 'century gothic';
    margin: 0px;
}
